@media (max-width: 48rem) {
    .page-container {
        padding: 1rem;
    }
    /* Header ------------------------------------------------------------------------------------------------------- */
    .header-content > button {
        position: static;
        margin-right: auto;
    }
    /* Section ------------------------------------------------------------------------------------------------------ */
    .collapse-label {
        font-size: 0.8rem;
    }
    /* Invoice data ------------------------------------------------------------------------------------------------- */
    .invoice-data-grid {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    .invoice-number,
    .issue-date,
    .issue-place,
    .accounting-date,
    .delivery-date {
        grid-column: 1;
    }
    /* Contractor --------------------------------------------------------------------------------------------------- */
    .contractor-grid {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    .contractor-name,
    .contractor-identifier,
    .contractor-nip,
    .town,
    .postal-code,
    .post-office,
    .street,
    .building,
    .premises,
    .additional-entity {
        grid-column: 1;
    }
    .contractor-identifier-options {
        gap: 1rem;
    }
    /* Invoice items ------------------------------------------------------------------------------------------------ */
    /* Items table -------------------------------------------------------------------------------------------------- */
    .items-table thead {
        float: left;
        width: 40%;
    }
    .items-table thead tr {
        display: flex;
        flex-direction: column;
    }
    .items-table thead th {
        display: flex;
        font-weight: 600;
        vertical-align: middle;
    }
    .items-table tbody {
        display: block;
        width: 60%;
        margin-left: 40%;
    }
    .items-table tbody tr:not(.total-row) td {
        display: flex;
    }
    .items-table .total-row {
        display: block;
        margin-top: 1rem;
        font-weight: 600;
    }
    .items-table .total-row td {
        display: flex;
    }
    /* Payment ------------------------------------------------------------------------------------------------------ */
    .payment-grid {
        grid-template-columns: 1fr;
        row-gap: 1rem;
    }
    .payment-type,
    .bank-account,
    .payment-status,
    .payment-term,
    .payment-days,
    .payment-deadline,
    .payment-link,
    .ksef-payment-id {
        grid-column: 1;
        grid-row: auto;
    }
    /* Footer ------------------------------------------------------------------------------------------------------- */
    .footer-actions {
        flex-direction: column;
        align-items: stretch;
    }
}