@media (prefers-color-scheme: light) {
    :root {
        --bg: #ffffff;
        --surface: #ffffff;
        --text-1: #000000;
        --text-2: #3d3d3d;
        --text-label: #666666;
        --line: #cccccc;
        --accent: #003399;
        --accent-soft: #e5ebf5;
    }
}