@media (prefers-color-scheme:light) {
    :root {
        --bg: whitesmoke;
        --text: dimgray;
        --text-2: gray;
        --text-3: darkgray;

        --surface: #fff;
        --surface-hover: #f9fafb;

        --line: #eaecf0;
        --line-strong: #d0d5dd;
        --accent: #175cd3;
        --accent-soft: #eff4ff;
        --danger: #d92d20;
        --danger-soft: #fef3f2;
    }
    html, body {
        width: 100%;
        margin: 0;
        padding: 0;
        overflow-y: hidden;
    }
    body {
        background:var(--bg);
        color:var(--text);
    }
}
